---
import CardLayout from '@/layouts/CardLayout.astro';
import type { MarkdownHeading } from 'astro';

interface Props {
  headings: MarkdownHeading[];
  depth?: number;
  class?: string;
}
const { headings, depth = 3, class: className, ...rest } = Astro.props;
const filteredHeadings = headings.filter((heading) => heading.depth <= depth);
---

<CardLayout title="目次" class:list={['toc-card', className]} {...rest}>
  <nav class="toc">
    <ul>
      {
        filteredHeadings.map((heading) => (
          <li style={{ '--indent': `${heading.depth - 1}rem` }}>
            <a href={`#${heading.slug}`}>{heading.text}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</CardLayout>

<style lang="scss">
  .toc-card {
    position: sticky;
    top: $header-height + 20px;

    .toc {
      padding-left: 20px;

      li {
        margin-left: var(--indent);

        a {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
        }
      }
    }
  }
</style>
