---
import CardLayout from '@/layouts/CardLayout.astro';
import '@/styles/md-style.scss';
import { getSection } from '@/utils/content';
import { render } from 'astro:content';

const section = await getSection('about');

interface Props {
  class?: string;
}

if (!section) throw new Error('Section not found');

const { class: className, ...props } = Astro.props;

const { Content } = await render(section);
---

<CardLayout class={className} {...props} title="梶研はどんな研究しているの？" noCardOnMobile>
  <article data-page="post">
    <Content />
  </article>

  <a class="detail" href="/research">研究内容についての詳細</a>
  <a class="detail" href="/about">研究室生活についての詳細</a>
</CardLayout>

<style lang="scss">
  .detail {
    padding-top: 10px;
    display: block;
    text-align: center;
  }
</style>
