---
import CardLayout from '@/layouts/CardLayout.astro';
import { getPosts } from '@/utils/content';

interface Props {
  class?: string;
}
const { class: className, ...props } = Astro.props;

const news = await getPosts(0, 6);
---

<CardLayout class={className} {...props} title="news">
  <ul class="news">
    {
      news.map((n) => (
        <li>
          <a href={n.data.link}>{n.data.title}</a>
        </li>
      ))
    }
  </ul>
</CardLayout>

<style lang="scss">
  .news > li {
    padding-block: 5px;
    margin-left: 20px;
  }
</style>
