---
import CardLayout from '@/layouts/CardLayout.astro';
import '@/styles/md-style.scss';
import { getSections } from '@/utils/content';
import { render } from 'astro:content';

const sections = await getSections('others');

interface Props {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---

<section class={className} {...props}>
  {
    sections.map(async (section) => {
      const { Content } = await render(section);
      return (
        <CardLayout {...props} title={section.data.title} noCardOnMobile>
          <article data-page="post">
            <Content {...props} class={className} />
          </article>
        </CardLayout>
      );
    })
  }
</section>
