---
import { getPosts } from '@/utils/content';
import PostCard from '@/components/PostCard/index.astro';

interface Props {
  class?: string;
}
const { class: className, ...props } = Astro.props;

const posts = await getPosts({ limit: 6 });
---

<div class:list={['posts', className]} {...props}>
  <h2 class="title">最近の投稿</h2>
  {posts.map((post) => <PostCard post={post} />)}
</div>

<style lang="scss">
  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    .title {
      padding-block: 20px 10px;
      grid-column: 1/-1;
      text-align: center;
    }
  }
</style>
