---
import { Image } from 'astro:assets';
import CardLayout from '@/layouts/CardLayout.astro';
import { getSection } from '@/utils/content';
import { render } from 'astro:content';

const section = await getSection('top');

if (!section) throw new Error('Section not found');

interface Props {
  class?: string;
}
const { class: className, ...props } = Astro.props;
const { Content } = await render(section);
---

<CardLayout class={className} {...props} noCardOnMobile>
  <Image
    id="top-section-logo"
    class="logo"
    src="/img/kaji_original.webp"
    alt="これは何の生物でしょうか？ → コンソールにて `whatCreature()`"
    width="120"
    height="120"
    densities={[2]}
  />
  <h2>{section.data.title}</h2>
  <Content />
</CardLayout>

<script>
  const logo = document.getElementById('top-section-logo');
  if (logo) {
    logo.addEventListener('click', () => (window.location.href = '/mogura'));
  }
</script>

<style lang="scss">
  .logo {
    display: block;
    margin-inline: auto;
    border-radius: calc(infinity);
  }

  h2 {
    padding-block: 10px;
    font-size: 1.2rem;
    text-align: center;
  }

  p {
    padding-block: 10px;
  }
</style>
