---
import { Image } from 'astro:assets';
import kaji from '@/assets/kaji.webp';
import CardLayout from '@/layouts/CardLayout.astro';

interface Props {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---

<CardLayout class={className} {...props} noCardOnMobile>
  <Image class="logo" src={kaji} alt="梶研ロゴ" width="120" height="120" densities={[2]} />
  <h2>KAJI LABORATORY</h2>
  <p>
    正式な研究室名は行動情報科学研究室です．行動をセンシングし，行動をデザインする研究室です．
    スマートフォン等の各種センサを用いた屋内位置推定・行動認識技術の追求と，それに基づいた人間拡張や行動変容に資するシステムの実現を目指します．
  </p>
</CardLayout>

<style lang="scss">
  .logo {
    display: block;
    margin-inline: auto;
    border-radius: calc(infinity);
  }

  h2 {
    padding-block: 10px;
    font-size: 1.2rem;
    text-align: center;
  }

  p {
    padding-block: 10px;
  }
</style>
