article {
  width: 100%;
  overflow-x: hidden;

  h1 {
    margin: 20px 0 10px;
    font-size: 180%;
    font-weight: 700;
    border-bottom: 1px solid $color-on-bg-light;
  }

  h2 {
    margin: 30px 0 10px;
    font-size: 150%;
    font-weight: 700;
    border-bottom: 1px solid $color-on-bg-light;
  }

  h3 {
    margin: 30px 0 10px;
    font-size: 125%;
    font-weight: 700;
    border-bottom: 1px solid $color-on-bg-light;
  }

  p {
    margin: 10px 0;
  }

  img {
    max-width: 100%;
    border: 1px solid #eee;
  }

  iframe {
    max-width: 100%;
  }

  ol {
    list-style: decimal;
  }

  ul {
    padding-left: 1em;
    list-style: inside;

    ul {
      list-style-type: circle;
    }
  }

  pre > code {
    display: block;
    padding: 10.5px;
    margin: 0 0 11px;
    font-size: 13px;
    line-height: 1.6;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
  }

  table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0;
    margin-bottom: 30px;

    th {
      padding: 8px;
      line-height: 1.6;
      vertical-align: top;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    td {
      padding: 8px;
      line-height: 1.6;
      vertical-align: top;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    tr:nth-child(odd) td {
      background-color: #f9f9f9;
    }
  }

  hr {
    margin-block: 30px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: $header-height + 20px;
  }

  & > *:not(h1, h2, h3, h4, h5, h6) {
    margin-left: 10px;
  }
}
