article {
  width: 100%;
  overflow-x: hidden;

  h1,
  h2,
  h3 {
    font-weight: 700;
    border-bottom: 1px solid color-mix(in srgb, $color-on-bg-light 30%, #fff 70%);
  }

  h1 {
    margin: 30px 0 10px;
    font-size: 1.8rem;
  }

  h2 {
    margin: 20px 0 10px;
    font-size: 1.6rem;
  }

  h3 {
    margin: 15px 0 10px;
    font-size: 1.4rem;
  }

  h4 {
    margin: 10px 0 10px;
    font-size: 1.2rem;
  }

  h5 {
    margin: 10px 0 10px;
    font-size: 1rem;
  }

  h6 {
    margin: 10px 0 10px;
    font-size: 0.8rem;
  }

  p {
    margin: 10px 0;
  }

  img {
    max-width: 100%;
    border: 1px solid #eee;
    height: auto;
  }

  iframe {
    max-width: 100%;
  }

  ol {
    list-style: decimal;
  }

  ul {
    padding-left: 1em;
    list-style: inside;

    ul {
      list-style-type: circle;
    }

    li {
      padding-block: 5px;
    }
  }

  pre {
    margin: 25px 0;
    border-radius: 10px;

    & > code {
      display: block;
      padding: 10.5px;
      font-size: 13px;
      line-height: 1.6;
      color: $color-bg;
      word-break: break-all;
      word-wrap: break-word;
      background-color: $color-on-bg;
    }
  }

  table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0;
    margin-bottom: 30px;

    th {
      padding: 8px;
      line-height: 1.6;
      vertical-align: top;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    td {
      padding: 8px;
      line-height: 1.6;
      vertical-align: top;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    tr:nth-child(odd) td {
      background-color: #f9f9f9;
    }
  }

  hr {
    margin-block: 30px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: $header-height + 20px;
  }

  & > *:not(h1, h2, h3, h4, h5, h6, img) {
    margin-left: 10px;
  }
}

article[data-page='member'],
article[data-page='publication'],
article[data-page='award'] {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    background: linear-gradient(transparent 60%, #ff6 60%, #ff6 90%, transparent 90%);
    border: none;
  }

  h2,
  h3 {
    border: none;
  }
}

article[data-page='post'],
article[data-page='top'] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  :first-child {
    margin-top: 0;
  }

  h1 {
    margin: 65px 0 10px;
    font-size: 1.8rem;
  }

  h2 {
    margin: 65px 0 10px;
    font-size: 1.6rem;
  }

  h3 {
    margin: 45px 0 10px;
    font-size: 1.4rem;
  }

  h4 {
    margin: 45px 0 10px;
    font-size: 1.2rem;
  }

  h5 {
    margin: 20px 0 10px;
    font-size: 1rem;
  }

  h6 {
    margin: 20px 0 10px;
    font-size: 0.8rem;
  }

  h1 + h1,
  h1 + h2,
  h1 + h3,
  h1 + h4,
  h1 + h5,
  h1 + h6,
  h2 + h1,
  h2 + h2,
  h2 + h3,
  h2 + h4,
  h2 + h5,
  h2 + h6,
  h3 + h1,
  h3 + h2,
  h3 + h3,
  h3 + h4,
  h3 + h5,
  h3 + h6,
  h4 + h1,
  h4 + h2,
  h4 + h3,
  h4 + h4,
  h4 + h5,
  h4 + h6,
  h5 + h1,
  h5 + h2,
  h5 + h3,
  h5 + h4,
  h5 + h5,
  h5 + h6,
  h6 + h1,
  h6 + h2,
  h6 + h3,
  h6 + h4,
  h6 + h5,
  h6 + h6 {
    margin-top: 0;
  }
}

article[data-page='top'] {
  h1,
  h2,
  h3 {
    border-bottom: none;
  }
}
