---
import { getThumbnail } from '@/utils/content';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>;
}
const { post } = Astro.props;
---

<a class="post" href={post.data.link}>
  <h3 class="post-title">{post.data.title}</h3>
  <Image class="thumbnail" src={getThumbnail(post)} alt={post.data.title} width="480" height="270" />
</a>

<style lang="scss">
  .post {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: $shadow;
    cursor: pointer;

    .post-title {
      padding: 20px;
      width: fit-content;
      height: fit-content;
      color: $color-text;
      text-align: center;
      position: absolute;
      margin: auto;
      inset: 0;
      line-height: 100%;
      opacity: 0;
      transition: opacity $transition;
      z-index: 1;
    }

    .thumbnail {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: filter $transition;
    }

    &:hover {
      .post-title {
        opacity: 1;
      }

      .thumbnail {
        filter: brightness(3) blur(5px);
      }
    }
  }
</style>
