---
import Layout from '@/layouts/Layout.astro';
import { render, type CollectionEntry } from 'astro:content';
import TopSection from './_sections/TopSection.astro';
import Toc from '@/components/Toc/index.astro';
import CardLayout from '@/layouts/CardLayout.astro';
import mdStyle from '@/styles/md-style.scss';
import { getPages } from '@/utils/content';

export async function getStaticPaths() {
  const pages = await getPages();

  return pages.map((page) => ({
    params: { page: page.data.tags?.page },
    props: page,
  }));
}

type Props = CollectionEntry<'pages'>;

const page = Astro.props;
const { Content, headings } = await render(page);
---

<Layout class="main">
  <div class="side">
    <TopSection class="top-section" />
    <Toc class="toc-section" headings={headings} />
  </div>

  <CardLayout class="content" title={page.data.title}>
    <article data-page={page.data.tags?.page}>
      <Content />
    </article>
  </CardLayout>
</Layout>

<style is:global set:html={mdStyle}></style>

<style lang="scss">
  .main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

    .side {
      grid-column: 1/4;
      grid-row: span 1;

      display: flex;
      flex-direction: column;
      gap: 30px;

      @include tablet {
        display: contents;

        .top-section {
          grid-column: 1/-1;
        }

        .toc-section {
          display: none;
        }
      }
    }

    .content {
      grid-column: 4/-1;
      padding: 30px 20px 30px;

      @include tablet {
        grid-column: 1/-1;
      }
    }
  }
</style>
