---
import Layout from '@/layouts/Layout.astro';
import TopSection from './_sections/TopSection.astro';
import NoticeSection from './_sections/NoticeSection.astro';
import AboutSection from './_sections/AboutSection.astro';
import NewsSection from './_sections/NewsSection.astro';
import RecentPosts from './_sections/RecentPosts.astro';
import TechStackSection from './_sections/TechStack.astro';
import OthersSection from './_sections/OthersSection.astro';
import { getSections } from '@/utils/content';

const sections = await getSections();
---

<Layout class="main">
  <div class="side">
    <TopSection class="top-section" />
    <NewsSection class="news-section" />
  </div>

  <NoticeSection class="notice-section" />
  <TechStackSection class="techstack-section" />
  <AboutSection class="about-section" />
  <OthersSection class="others-section" />
  <RecentPosts class="posts-section" />
</Layout>

<style lang="scss" define:vars={{ sections: sections.length }}>
  .main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

    .side {
      grid-column: 1/4;
      grid-row: span calc(var(--sections) - 1);

      display: flex;
      flex-direction: column;
      gap: 30px;

      @include pc {
        .news-section {
          position: sticky;
          top: $header-height + 20px;
        }
      }

      @include tablet {
        display: contents;

        .top-section {
          grid-column: 1/-1;
        }

        .news-section {
          grid-column: span 4;
          grid-row: span 2;
        }
      }

      @include mobile {
        .news-section {
          display: none;
        }
      }
    }

    .techstack-section,
    .notice-section {
      grid-column: span 9;

      @include tablet {
        grid-column: span 8;
      }

      @include mobile {
        grid-column: 1/-1;
      }
    }

    .about-section {
      grid-column: span 9;

      @include tablet {
        grid-column: span 8;
        grid-row: span 3;
      }

      @include mobile {
        grid-column: 1/-1;
      }
    }

    .others-section {
      display: grid;
      grid-column: span 9;
      gap: 30px;
    }

    .posts-section {
      grid-column: 4/-1;

      @include tablet {
        grid-column: 1/-1;
      }
    }
  }
</style>
