---
import Layout from '@/layouts/Layout.astro';

export const prerender = true;

Astro.response.status = 418;
Astro.response.statusText = "I'm a teapot";
---

<Layout class="main" title="418 I' m a teapot" particle="teapot">
  <div>
    <div>
      <h1>418 I'm a teapot</h1>
    </div>

    <div>
      <a href="/">トップへ </a>
    </div>
  </div>
</Layout>

<style lang="scss">
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    div {
      padding: 10px;

      a {
        padding: 10px;
      }
    }
  }
</style>
