---
import { Image } from 'astro:assets';
import HamburgerMenu from './HamburgerMenu.astro';
import { getPages } from '@/utils/content';

export interface Path {
  link: string;
  page: string;
}

const paths: Path[] = [
  { page: 'home', link: '/' },
  ...(await getPages({ withHidden: false })).map(({ data }) => ({ link: data.link, page: data.tags.page })),
  { page: 'posts', link: '/posts' },
];
---

<header>
  <nav>
    <div class:list={['container', 'logo']}>
      <a href="/">
        <Image src={'/img//kaji.webp'} alt="梶研ロゴ" height="40" width="40" densities={[2]} />
        <h1 class="title">Kaji Lab</h1>
      </a>
    </div>

    <div class:list={['container', 'links']}>
      {
        paths.map((path) => (
          <a class="link" href={path.link}>
            {path.page}
          </a>
        ))
      }
    </div>

    <HamburgerMenu class="hamburger" paths={paths} />
  </nav>
</header>

<style lang="scss">
  header {
    padding: 0 20px;
    height: $header-height;
    background-color: $color-bg;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: $shadow-header;

    nav {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .container {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 15px;

        &.logo {
          min-width: 150px;

          a {
            display: contents;
            color: $color-text;
          }
        }

        &.links {
          overflow-x: scroll;
        }

        @include mobile {
          &.links {
            display: none;
          }
        }

        .title {
          font-size: 1.2rem;
        }

        .link {
          text-transform: capitalize;
        }
      }

      .hamburger {
        display: none;

        @include mobile {
          display: block;
        }
      }
    }
  }
</style>
