---
const year = new Date().getFullYear();
---

<footer>
  <div class="container">
    <p class="copyright">© {year} 愛知工業大学 梶研究室</p>
  </div>
</footer>

<style lang="scss">
  footer {
    height: $footer-height;
    text-align: center;

    .container {
      margin-inline: auto;
      padding-inline: 10px;
      min-width: fit-content;
      width: 60%;
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
</style>
