---
interface Props {
  title?: string;
  createdAt?: string;
  class?: string;
  id?: string;
  noCardOnMobile?: boolean;
}

const { title, createdAt, class: className, noCardOnMobile, ...props } = Astro.props;
---

<div class:list={['card-layout', className]} {...props} data-no-card-on-mobile={noCardOnMobile}>
  {title && <h2 class="title">{title}</h2>}
  {createdAt && <p class="created-at">{createdAt}</p>}

  <div class="content" data-has-title={title !== undefined}>
    <slot />
  </div>
</div>

<style lang="scss">
  .card-layout {
    padding: 15px;
    box-shadow: $shadow;
    border-radius: 15px;
    background-color: $color-bg;

    @include mobile {
      &[data-no-card-on-mobile='true'] {
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        backdrop-filter: blur(3px);
      }
    }

    .title {
      position: relative;
      text-transform: capitalize;

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $color-on-bg-light;
      }
    }

    .created-at {
      padding: 2px;
      text-align: right;
    }

    .content[data-has-title='true'] {
      padding-top: 20px;
    }
  }
</style>
