---
import Header from '@/components/Header/index.astro';
import Footer from '@/components/Footer/index.astro';

interface Props {
  class?: string;
}
const { class: className, ...rest } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <main class={className} {...rest}>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss" is:global>
  :root {
    font-size: 16px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    letter-spacing: 0.5px;
  }

  main {
    margin-inline: auto;
    padding: 20px 20px 60px;
    max-width: 1200px;
    min-height: $main-height;
  }

  a {
    text-decoration: none;
    color: $color-primary;

    &:hover {
      color: $color-primary-light;
    }
  }
</style>
