---
import Header from '@/components/Header/index.astro';
import Footer from '@/components/Footer/index.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss" is:global>
  :root {
    font-size: 16px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    letter-spacing: 0.5px;
  }

  main {
    padding-top: $header-height;
    min-height: 100vh;
  }

  a {
    text-decoration: none;
    color: $color-primary;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background-color: $color-primary;
      position: absolute;
      bottom: -1px;
      transition: all $transition;
    }

    &:hover {
      color: $color-primary-light;

      &::after {
        width: 100%;
        background-color: $color-primary-light;
      }
    }
  }
</style>
